.footer {
  padding-bottom: 20px;
  padding-top: 60px;
  text-align: center;
  background-color: #FCF5E5;
  color:rgba(33, 33, 33, 0.7);
}

.footer__text {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
}

.footer__divider {
    height: 1px;
    margin: 20px 0;
    max-width: 1280px;
    margin: 0 auto;
    border-bottom: 1px solid rgba(33, 33, 33, 0.1);
    padding-bottom: 20px;
    gap: 20px;
    top: 310px;
}